[submodule "source/css/sass/settings.defaults.inuitcss"]
	path = source/css/sass/settings.defaults.inuitcss
	url = https://github.com/inuitcss/settings.defaults.git
[submodule "source/css/sass/tools.functions.inuitcss"]
	path = source/css/sass/tools.functions.inuitcss
	url = https://github.com/inuitcss/tools.functions.git
[submodule "source/css/sass/tools.mixins.inuitcss"]
	path = source/css/sass/tools.mixins.inuitcss
	url = https://github.com/inuitcss/tools.mixins.git
[submodule "source/css/sass/generic.normalize.inuitcss"]
	path = source/css/sass/generic.normalize.inuitcss
	url = https://github.com/inuitcss/generic.normalize.git
[submodule "source/css/sass/generic.box-sizing.inuitcss"]
	path = source/css/sass/generic.box-sizing.inuitcss
	url = https://github.com/inuitcss/generic.box-sizing.git
[submodule "source/css/sass/generic.reset.inuitcss"]
	path = source/css/sass/generic.reset.inuitcss
	url = https://github.com/inuitcss/generic.reset.git
[submodule "source/css/sass/generic.shared.inuitcss"]
	path = source/css/sass/generic.shared.inuitcss
	url = https://github.com/inuitcss/generic.shared.git
[submodule "source/css/sass/base.paragraphs.inuitcss"]
	path = source/css/sass/base.paragraphs.inuitcss
	url = https://github.com/inuitcss/base.paragraphs.git
[submodule "source/css/sass/base.page.inuitcss"]
	path = source/css/sass/base.page.inuitcss
	url = https://github.com/inuitcss/base.page
[submodule "source/css/sass/base.headings.inuitcss"]
	path = source/css/sass/base.headings.inuitcss
	url = https://github.com/inuitcss/base.headings.git
[submodule "source/css/sass/base.lists.inuitcss"]
	path = source/css/sass/base.lists.inuitcss
	url = https://github.com/inuitcss/base.lists.git
[submodule "source/css/sass/base.images.inuitcss"]
	path = source/css/sass/base.images.inuitcss
	url = https://github.com/inuitcss/base.images.git
[submodule "source/css/sass/objects.layout.inuitcss"]
	path = source/css/sass/objects.layout.inuitcss
	url = https://github.com/inuitcss/objects.layout.git
[submodule "source/css/sass/trumps.widths.inuitcss"]
	path = source/css/sass/trumps.widths.inuitcss
	url = https://github.com/inuitcss/trumps.widths.git
