[submodule "source/css/sass/settings.defaults"]
	path = source/css/sass/settings.defaults
	url = https://github.com/inuitcss/settings.defaults.git
[submodule "source/css/sass/tools.functions"]
	path = source/css/sass/tools.functions
	url = https://github.com/inuitcss/tools.functions.git
[submodule "source/css/sass/tools.mixins"]
	path = source/css/sass/tools.mixins
	url = https://github.com/inuitcss/tools.mixins.git
[submodule "source/css/sass/generic.normalize"]
	path = source/css/sass/generic.normalize
	url = https://github.com/inuitcss/generic.normalize.git
[submodule "source/css/sass/generic.box-sizing"]
	path = source/css/sass/generic.box-sizing
	url = https://github.com/inuitcss/generic.box-sizing.git
[submodule "source/css/sass/generic.reset"]
	path = source/css/sass/generic.reset
	url = https://github.com/inuitcss/generic.reset.git
