{{> organisms-header }}
<div class="container pr pl">
  <h1 class="text-center text-responsive">Rough thoughts</h1>
  <p class="text-center pb"><span class="sr-only">Content written </span>by alienlebarge</p>
  {{> molecules-article-list }}
  {{> molecules-pagination }}
</div>
{{> organisms-footer }}
