{{> organisms-header }}
<article class="container pr pl">
  <header>
    <h1 class="text-center">Article Headline Lorem ipsum dolor sit aweofij</h1>
    {{> atoms-time }}
  </header>
  {{> organisms-article-body }}
</article>
{{> organisms-footer }}
