<div>
  {{> organisms-header }}
  <article>
    <header class="article-header">
      <h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
      {{> molecules-byline-author-time }}
    </header>
    {{> organisms-article-body }}
  </article>
  {{> organisms-footer }}
</div>
