&lt;p&gt;Primary font: 'Gentium Book Basic', Georgia, serif&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: 'Gentium Book Basic', Georgia, serif&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: 'Gentium Book Basic', Georgia, serif&lt;/strong&gt;&lt;/p&gt;