&lt;pre&gt;
  &lt;code&gt;
    // # Lists
    //
    // Remove extra vertical spacing when nesting lists.
    li {

        &gt; ul,
        &gt; ol {
            margin-bottom: 0;
        }

    }
  &lt;/code&gt;
&lt;/pre&gt;
