<!-- header -->
<header class="contnainer pt">
  <a href="{{ link.templates-blog }}" title="Homepage">
    <figure>
      {{> molecules-image-circle(class: center-block 1/12 }}
    </figure>
  </a>
</header><!-- /header -->
