<!-- header -->
<header class="container pt" role="banner">
  <a href="{{ link.templates-blog }}" title="Homepage">
    <figure>
      {{> molecules-image-circle(class: center-block, size: 75px) }}
    </figure>
  </a>
</header><!-- /header -->
