<!-- header -->
<header class="container pt">
  <a href="{{ link.templates-blog }}" title="Homepage">
    <figure>
      {{> molecules-image-circle(class: center-block 1/5) }}
    </figure>
  </a>
</header><!-- /header -->
