&lt;h1 class=&quot;separators&quot;&gt;&lt;span&gt;Heading 1&lt;/span&gt;&lt;/h1&gt;
&lt;h2 class=&quot;separators&quot;&gt;&lt;span&gt;Heading 2&lt;/span&gt;&lt;/h2&gt;
&lt;h3 class=&quot;separators&quot;&gt;&lt;span&gt;Heading 3&lt;/span&gt;&lt;/h3&gt;
&lt;h4 class=&quot;separators&quot;&gt;&lt;span&gt;Heading 4&lt;/span&gt;&lt;/h4&gt;
&lt;h5 class=&quot;separators&quot;&gt;&lt;span&gt;Heading 5&lt;/span&gt;&lt;/h5&gt;
&lt;h6 class=&quot;separators&quot;&gt;&lt;span&gt;Heading 6&lt;/span&gt;&lt;/h6&gt;
&lt;p class=&quot;separators&quot;&gt;&lt;span&gt;Paragraph&lt;/span&gt;&lt;/p&gt;
