// Base anchors
// 
// It's all about links and anchors
// 
// Styleguide 2.3







// Basic link
// 
// Determine the color of link
// 
// Markup: <a href="#" class="{$modifiers}">This is a link</a>
// 
// :hover - Highlight the link when hovered.
// 
// Styleguide 2.3.1
a {
  color: $inuit-base-text-color;

  &:hover {
    color: #ff0000;
  }
}






// No undrlined link
// 
// If you do not want to underline a link
// 
// Markup:
// <a href="#" class="no-underline">This is a link</a>
// 
// :hover - Highlight & undeline the link when hovered.
// 
// Styleguide 2.3.2
.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
