{{&gt; organisms-header }}
&lt;article class=&quot;container pr pl&quot;&gt;
  &lt;header&gt;
    &lt;h1 class=&quot;text-center&quot;&gt;Article Headline Lorem ipsum dolor sit aweofij&lt;/h1&gt;
    {{&gt; atoms-time }}
  &lt;/header&gt;
  {{&gt; organisms-article-body }}
&lt;/article&gt;
{{&gt; organisms-footer }}
