<ul class="layout pb+">
  <li class="layout__item 1/2">
    <a href="{{ url }}">Previous</a>
  </li><!--

  --><li class="layout__item 1/2 text-right">
    <a href="{{ url }}">Next</a>
  </li><!--

  -->
</ul>
