&lt;ul class=&quot;layout&quot;&gt;
  &lt;li class=&quot;layout__item layout&quot;&gt;
    &lt;time datetime=&quot;{{ year.long }}-{{ month.digit }}-{{ day.long }}&quot; class=&quot;layout__item 1/4&quot;&gt;{{ year.long }}-{{ month.digit }}-{{ day.long }}&lt;/time&gt;&lt;!--

  --&gt;&lt;a href=&quot;{{ post.url }}&quot; class=&quot;layout__item 3/4&quot;&gt;{{ headline.short }}&lt;/a&gt;
  &lt;/li&gt;&lt;!--

  --&gt;
&lt;ul&gt;