/*------------------------------------*\
    $STYLES
\*------------------------------------*/
// We import types of file in the following order:
//
// Settings -- Sass vars, etc.
// Tools -- Functions and mixins.
// Generic -- Generic, high-level styling, like resets, etc.
// Base -- Unclasses HTML elements (e.g. `h2`, `ul`).
// Object -- Objects and abstractions.
// Components -- Your designed UI elements (inuitcss includes none of these).
// Trumps -- Overrides and helper classes.





/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
@import "sass/settings.defaults/settings.defaults";
$base-font-family: 'Gentium Book Basic', serif;





/*------------------------------------*\
    #TOOLS
\*------------------------------------*/
@import "sass/tools.functions/tools.functions";
@import "sass/tools.mixins/tools.mixins";
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}





/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
@import "sass/generic.normalize/generic.normalize";
@import "sass/generic.reset/generic.reset";
@import "sass/generic.shared/generic.shared";





/*------------------------------------*\
    #BASE
\*------------------------------------*/
@import "sass/base.page/base.page";
@import "sass/base.paragraphs/base.paragraphs";
@import "sass/base.headings/base.headings";
@import "sass/base.lists/base.lists";
@import "sass/base.images/base.images";
html {
  font-family: $base-font-family;
}





/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/






/*------------------------------------*\
    #COMPONMENTS
\*------------------------------------*/
@import "sass/componment.images-shapes/componmnent.images-shapes";





/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
