&lt;!-- header --&gt;
&lt;header class=&quot;container pt&quot; role=&quot;banner&quot;&gt;
  &lt;a href=&quot;{{ link.templates-blog }}&quot; title=&quot;Homepage&quot;&gt;
    &lt;figure&gt;
      {{&gt; molecules-image-circle(class: center-block 1/5) }}
    &lt;/figure&gt;
  &lt;/a&gt;
&lt;/header&gt;&lt;!-- /header --&gt;
