{{&gt; organisms-header }}
&lt;div class=&quot;container pr pl&quot;&gt;
  {{&gt; organisms-title }}
  {{&gt; molecules-article-list }}
  {{&gt; molecules-pagination }}
&lt;/div&gt;
{{&gt; organisms-footer }}
