{{&gt; organisms-header }}
&lt;div class=&quot;container pr pl&quot;&gt;
  &lt;h1 class=&quot;text-center text-responsive pb&quot;&gt;Rough thoughts&lt;/h1&gt;
  {{&gt; molecules-article-list }}
  {{&gt; molecules-pagination }}
&lt;/div&gt;
{{&gt; organisms-footer }}
