<h1 class="separators"><span>Heading 1</span></h1>
<h2 class="separators"><span>Heading 2</span></h2>
<h3 class="separators"><span>Heading 3</span></h3>
<h4 class="separators"><span>Heading 4</span></h4>
<h5 class="separators"><span>Heading 5</span></h5>
<h6 class="separators"><span>Heading 6</span></h6>
<p class="separators"><span>Paragraph</span></p>
