{{&gt; organisms-header }}
&lt;div class=&quot;container&quot;&gt;
  &lt;h1 class=&quot;text-center&quot;&gt;Rough thoughts&lt;/h1&gt;
  {{&gt; molecules-article-list }}
&lt;/div&gt;
{{&gt; organisms-footer }}
