// Settings defaults
// 
// Let's set the main variables
// 
// No styleguide reference.





// Fonts
// 
// Everythings about the fonts
// 
// No styleguide reference.
$base-font-family:  'Playfair Display', Georgia, serif;
$base-font-size:    17px;
$base-line-height:  26px;






// Colors
// 
// It's all about the colors
// 
// No styleguide reference.
$base-text-color:       #333;
$base-primary-color:    #ff0000;
$base-background-color: #fff;






// Overwrite inuitcss vars
//
// No styleguide reference.
$inuit-base-background-color:   $base-background-color;
$inuit-base-text-color:         $base-text-color;
$inuit-base-font-size:          $base-font-size;
$inuit-base-line-height:        $base-line-height;