// Settings defaults
// 
// Let's set the main variables
// 
// No styleguide reference.
// 





// Fonts
// 
// Everythings about the fonts
// 
// No styleguide reference.
$base-font-family: 'Gentium Book Basic', Georgia, serif;






// Colors
// 
// It's all about the colors
// 
// No styleguide reference.
$base-text-color: #000;
$base-primary-color: #ff0000;
$base-background-color: #fff;






// Overwrite inuitcss vars
//
// No styleguide reference.
$inuit-base-background-color: $base-background-color;
$inuit-base-text-color: $base-text-color;