&lt;!-- footer --&gt;
&lt;footer class=&quot;container pr pl&quot; role=&quot;contentinfo&quot;&gt;
  &lt;h2 class=&quot;separators text-center&quot;&gt;&lt;span&gt;&amp;Agrave; propos&lt;/span&gt;&lt;/h2&gt;
  &lt;p class=&quot;small&quot;&gt;Hi !&lt;br&gt;I&rsquo;m C&amp;eacute;dric &lt;abbr title=&quot;also know as&quot;&gt;aka&lt;/abbr&gt; alienlebarge. I'm dad, husband and frontend development is my job.&lt;br&gt;You can follow me on &lt;a href=&quot;http://www.twitter.com/alienlebarge&quot;&gt;Twitter&lt;/a&gt;. The pictures I take can bee seen on &lt;a href=&quot;https://www.flickr.com/photos/alienlebarge&quot;&gt;Flickr&lt;/a&gt;. My lines of code can be found on &lt;a href=&quot;https://github.com/alienlebarge/&quot;&gt;GitHub&lt;/a&gt;.&lt;/p&gt;
  &lt;p class=&quot;small&quot;&gt;This blog is build with &lt;a href=&quot;http://jekyllrb.com/&quot;&gt;Jekyll&lt;/a&gt; and hosted on &lt;a href=&quot;https://github.com/alienlebarge/alienlebarge.github.com&quot;&gt;GitHub&lt;/a&gt;.&lt;/p&gt;
  &lt;p class=&quot;small text-center&quot;&gt;&amp;copy; 2014 C&amp;eacute;dric Aellen&lt;/p&gt;
&lt;/footer&gt;&lt;!-- /footer --&gt;
