<article class="pb+">
  <header>
    <p class="separators"><time datetime="{{ year.long }}-{{ month.digit }}-{{ day.long }}">{{ year.long }}-{{ month.digit }}-{{ day.long }}</time></p>
    <h2><a href="{{ link.templates-article }}">{{ headline.short }}</a></h2>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores molestiae fuga ducimus modi, nesciunt neque non blanditiis quibusdam eveniet labore iusto mollitia vitae delectus, obcaecati. Deleniti expedita fugit, sit sint, quaerat atque ex vitae corporis!</p>
</article>
