// Types
//
// Everything about typography
//
// Styleguide 4.2





// Alignemnent classes
//
// Align the text
//
// Markup: <p class="{$modifiers}">Align me!</p>
//
// .text-left    - Left aligned text
// .text-center  - Center aligned text
// .text-right   - Right Aligned text
// .text-justify - Justified text.
//
// Styleguide 4.2.1
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}




// Font-weight-normal
//
// Set the font weight to normal
//
// Markup: <h1 class="font-weight-normal">Heading with normal weight</h1>
//
// Styleguide 4.2.2
.font-weight-normal {
  font-weight: 400;
}
