// Mixin border-radius
// 
// Add prefix vendor for border-radius
// 
// $radius - The radius for each corner
// 
// No styleguide reference.
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
