<p>Primary font: 'Gentium Book Basic', Georgia, serif</p>
<p><em>Primary font italic: 'Gentium Book Basic', Georgia, serif</em></p>
<p><strong>Primary font bold: 'Gentium Book Basic', Georgia, serif</strong></p>